.btn-block {
    height: 80px;
    flex-direction: row;
    align-items: center;
    flex: 1;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-text {
    text-overflow: ellipsis;
    lines: 1;
    flex: 1;
    text-align: center;
    font-size: 30px;
    color: #FFF;
}